include meta

block title

link(rel="short icon", href=url_for(theme.favicon))
link(rel="canonical", href=url_for(url.replace(/index\.html/,'')))
link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Bree+Serif")
link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Open+Sans")


//- theme style
link(rel="stylesheet", href=url_for("css/index.css"))

include ../mixins/analytics
if theme.baidu_analytics && !env.debug
  //- baidu analytics
  +baidu_analytics()

if theme.google_analytics && !env.debug
  //- google analytics
  +google_analytics()
