header {
  display: flex;

  color: #46531b;
  border-radius: 3px 3px 0 0;
  background-color: #fff;
  border-bottom: 1px solid #ddd;

  flex-wrap: wrap;
  margin: 0 -1000px;
  padding: 40px 1000px;
}

header a {
  text-decoration: none;
  color: #46531b;
}

a.logo {
  font-size: 22px;
  flex: 0 1 auto;
}

ul.nav {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;

  flex: 1 2 auto;
  justify-content: flex-end;
  align-items: flex-end;
}
ul.nav li {
  margin-left: 20px;
}
ul.nav li a {
  text-transform: uppercase;
}

@media only screen and (max-width: 960px) {
  a.logo {
    margin-bottom: 20px;
    display: block;
    flex: 1 100%;
  }
  ul.nav {
    justify-content: flex-start;
  }
  ul.nav li {
    margin: 0 20px 0 0;
  }
}
