@import url("normalize.css");
@import url("header.css");
@import url("home.css");
@import url("footer.css");
@import url("tags.css");


body {
  background-color: #f9f9f9;
  font-family: 'Open Sans', sans-serif;
}

a.logo, div.title, h1, h2, h3, h4, h5, h6 {
  font-family: 'Bree Serif', serif;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  color: #856E2A;
}
p {
  line-height: 1.5em;
}

h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
  color: #856E2A;
}

#main {
  max-width: 900px;
  margin: 0 auto;
}

@media only screen and (max-width: 960px) {
  #main {
    padding: 0 30px;
  }
}

ul.home {
  margin: 0;
  padding: 0;

  list-style: none;
}

.archive {
}
.archive h1 {
}
.archive .post-item {
  margin: 30px 0;
}

.post-title {
  margin-bottom: 0;
}
.post-time {
  text-transform: uppercase;

  font-size: 10px;
}
.post-sidebar {
  float: right;
}
.post-content img {
  width: 100%;
  border-radius: 3px;
}


.paginator {
  padding: 30px;
}
.paginator a:link,
.paginator a:visited {
  font-family: 'Bree Serif', serif;
  font-weight: normal;
  font-size: 20px;
  color: #46531b;
}

#comments {
  margin: 20px 0;
}
